version: 2
jobs:
  test:
    docker:
      - image: circleci/golang:1.12
    working_directory: /tmp/go
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: go test -v ./...
  build:
    docker:
      - image: tcnksm/gox
    working_directory: /tmp/go
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: gox -output="bin/{{.OS}}-{{.Arch}}/{{.Dir}}" -os="linux windows darwin" -arch="amd64" -parallel=1
      - persist_to_workspace:
          root: /tmp/go
          paths: bin/
workflows:
  version: 2
  main:
    jobs:
      - test
      - build:
          requires: 
            - test
